* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-image: url("../images/abstract-background-dark-247671.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.gameHeader {
    margin-top: 40px;
    font-size: 80px;
    font-family: 'Delius', cursive;
}

.container {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    height: 723px;
    background-image: url("../images/cork-wallet/cork-wallet.png");
}

.shadow {
    -webkit-box-shadow: 1px 1px 1px 1px #744d25;
    -moz-box-shadow:    1px 1px 1px 1px #744d25;
    box-shadow:         1px 1px 1px 1px #744d25;
  }


#timerDisplay {
    font-size: 35px;
}


 #roundQuestion {
     margin-bottom: 20px;
     font-size: 30px;
 } 


.btn {
    font-size: 35px;
    color: #dddad6;
    background: black;
    padding: 0;
    width: 50%;
    height: 70px;
    line-height: 70px;
    border-radius: 25px;
    margin: 10px auto;
}

#startGame {
    margin: 200px auto;
    font-family: 'Delius', cursive;
    font-size: 45px;
  }

  #newGame {
      margin-top: 10px;
      font-family: 'Delius', cursive;
      font-size: 45px;
  }

#startGame:hover {
    background: yellow;
}

#displayResults {
    font-size: 35px;
}

#displayCorrectAnswer {
    font-size: 30px;
}

.wrongImage,
.correctImage {
    width: 100%;    
}